<li class="list-unstyled p-4">
    <h2><%= @task.title %></h2>
    <p><%= @task.details %></p>
    <p>completed: <%= @task.completed %></p>
</li>
<button class="btn-primary" type="submit">Back to list<%= link_to tasks_path%></button>
<button class="btn-primary"> Edit<%= link_to edit_task_path(@task) %></button>
